.primaryLayout{
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment:fixed;
	display: flex;
	flex-flow: row wrap;
	flex:1;
	min-height: 900px;
	.primaryLayout__main{
		height: 100%;
	}
	@include md {
		flex-flow: column wrap;
		height: auto;
	}
	.home-page {
	    padding: 10rem 2rem;
	    color: #fff;
	    margin-left: 2rem;
	    position: relative;
	    z-index: 10;
	    .hp--bg {
		    background-color: rgba(0, 90, 179, 0.7);
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		}	
	    h1{
	    	font-size: 4rem;
	    }
	    h2{
	    	font-size: 3rem;
	    }
	}
}