/*Color*/
$primary-color: #0080FF;
$secondary-color: #ff7f00;
$primary-color-dark: darken($primary-color, 15%);

/* Grays */
$gray-extra-extra-extra-light: #F8F9F9;
$gray-extra-extra-light: #EEF2F5;
$gray-extra-light: #E3EBEF;
$gray-light: #CCD6DE;
$gray: #A8BBC7;
$gray-dark: #8297A4;
$gray-extra-dark: #5D6E7A;